body {
    text-align: center;
}
header {
    background-color: blue;
}
main .content {
    width: 100%;
    background-color: gray;
    
}
footer {
    background-color: darkred;
}
.logo {
    max-width: 100%;
}
.social {
    max-width: 10%;
}
.content {
    max-width: 50%;
}
.social {
    max-width: 10%;
}