body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100%;
    text-align: center;
    background-color: blueviolet;
    margin: 0;
}
header .logo {
    height: 300px;
    width: 350px;
}
main{
    text-align: center;
    background-color: pink;
    grid-template-rows: auto;
    grid-template-columns: auto;
}
main .zainpic {
    height: 75%;
    width: 350px;
}
footer {
    text-align: center;
    background-color: red;
}

footer .tumblr {
    width: 64px;
    height: 64px;
}
