body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    grid-column: 2/3;
    text-align: center;
    margin-bottom: 100px;
}

header {
    height: 100%;
    text-align: center;
    background-color: blueviolet;
    margin: 0;
}
header .logo {
    height: 300px;
    width: 350px;
}
.content{
    background-color: pink;
    display: grid;
    grid-template-columns: 2fr .5fr 2fr;

}
main .zainpic {
    width: 350px;
    grid-column: 1/2;
    justify-self: center;
}
main .zainpic1 {
    width: 350px;
    grid-column: 3/4;
        justify-self: center;

}
main .zainpic2 {
    width: 350px;
    grid-column: 1/2;
    justify-self: center;


}
main .zainpic3 {
    width: 350px;
    grid-column: 3/4;
    justify-self: center;


}
footer {
    text-align: center;
    background-color: red;
}

footer .tumblr {
    width: 64px;
    height: 64px;
}
